<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated path -->
      <package
            uri="http://atlanmod.org/path"
            class="path.PathPackage"
            genModel="model/path.genmodel"/>
   </extension>

</plugin>
